@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.education {
  height: 100%;
  font-family: Lato;
  font-weight: lighter;
  font-size: 20px;
  line-height: 1.6;
  color: black;
  padding-top: 20px;
  padding-right: 250px;
  padding-left: 250px;
  padding-bottom: 200px;
}

.education h2 {
  font-weight: lighter;
  font-family: 'Lato', sans-serif;;
  padding-bottom: 20px;
}

.hero-education {
  height: 40vh;
  width: 100vw;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("rolespage2.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: white;
  letter-spacing: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
}

#indent {
  margin-left: 30px;
  padding-left: 30px;
}

#indented {
  margin-left: 60px;
}
