@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.footer {
  position: sticky;
  font-family: font-family: 'Lato', sans-serif;
  color: white;
  background: #97AFA3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#footer-color {
  font-size: 25px;
  font-family: font-family: 'Lato', sans-serif;
}

.footer-links {
  color: white;
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  color: rgb(204, 222, 213);
  opacity: 50%;
}

.footer-copyright a {
  color: white;
}

.footer-copyright a:hover {
  color: rgb(204, 222, 213);
  opacity: 50%;
  text-decoration: none;
}
